{
  "env": {
    "browser": true,
    "node": true,
    "es2017": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "react-hooks", "prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "ignorePatterns": ["**/*.json"],
  "rules": {
    "strict": 0,
    "no-console": [
      "warn",
      {
        "allow": ["error"]
      }
    ],
    "no-debugger": "warn",
    "no-underscore-dangle": "off",
    "no-promise-executor-return": "warn",
    "no-param-reassign": "warn",
    "class-methods-use-this": "warn",
    "import/extensions": "warn",
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
    "react/function-component-definition": "off",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-props-no-spreading": "off",
    "no-prototype-builtins": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
